<!DOCTYPE html>
<html lang="zh-CN" style="font-size: 100px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="all">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>强势文化学习系统-移动版</title>
    <!-- start 计算页面使用rem的尺寸 必须放在头部 -->
    <script src="../../../common/js/stats.js" name="MTAH5" sid="500376155" cid="500376159"></script><script src="./帐号登录 _ 起点中文网_起点中文网_阅文集团旗下网站_files/calcSize.js"></script>
    <!-- end 计算页面使用rem的尺寸 必须放在头部 -->
    <link rel="stylesheet" href="../../../common/style/pact.css">
</head>
<body>
<section class="wrap">
    <section class="logo"></section>
    <section class="login-wrap input-list">
        <ul>

            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/1.1"><span class="load"></span>高一(上)</a>
            </li>
            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/1.2"><span class="load"></span>高一(下)</a>
            </li>
            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/2.1"><span class="load"></span>高二(上)</a>
            </li>
            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/2.2"><span class="load"></span>高二(下)</a>
            </li>
            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/3.1"><span class="load"></span>高三(上)</a>
            </li>
            <li class="">
                <a class="red-btn disabled login-button" href="subjectlist/grade/3.2"><span class="load"></span>高三(下)</a>
            </li>

        </ul>
    </section>

</section>
</body>
</html>